---
Checks:
  "*,
  -altera-*,
  -fuchsia-*,
  -llvm*,
  -readability-identifier-length,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -modernize-use-nodiscard,"
  # -abseil-*,
  # -google-*,
  # -android-*,
  # -modernize-use-trailing-return-type,
  # -zircon-*,
  # -readability-else-after-return,
  # -readability-static-accessed-through-instance,
  # -readability-avoid-const-params-in-decls,
WarningsAsErrors: ""
HeaderFilterRegex: ""
FormatStyle: none
